@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
}

body {
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 63%, rgba(157,157,157,1) 75%, rgba(1,1,1,1) 88%); 
    font-family: 'Varela Round', sans-serif;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;

}

.bags {
    display:none;
}

header {
    position: absolute;
    left:0;
    top:0;
    right:0;
    height:90px;
    background-color:white;
    display:flex; 
    justify-content:space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    color:black;
    align-items: center;
    


    
}

header img{
    height: 4rem;
    margin-right:95rem;
    margin-bottom:10px;

    
}

.main-menu{

    margin-right:10px;
}
.bag-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.bag-item{
    text-align: center;
    max-width:250px;
    margin:0 auto 50px auto;
    padding:20px;
    
    
}

.bag-item a{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.item-img{
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:50px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}

.item-img img{
    width:50%;
    height:auto;
    border-radius:50px;
    width:200px;
    height:200px;

}


h2{
    color:white;
    text-align:center
}

main {
    flex:1;
    padding:80px;
    margin-top:60px;
}


.add-item {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#d32f2f;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.bag-item a:hover .add-item {
    background-color:#b71c1c;
}

.bag-item--price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}

.bag-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}

.bag-item--note {
    font-size:13px;
    color:#555;
    margin-top:10px;
}



aside {
    background-color:#333333;
    width:auto;
    right:0;
    left:100vw;
    top:0;
    bottom:0;
    transition:all ease .2s;
}

aside.show {
    width:auto;
}

.cart {
    width:25vw;
}

.main-menu{
    background-color:#D3D3D3;
    margin-right: 15px;
    font-size: 26px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modalWindow {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

/* <!--/modalWindow--> */

.windowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.bagInfo {
    flex:1;
    font-family:'Varela Round', sans-serif;
    margin:70px;
}

.pizzaInfo h1 {
    margin-top:50px;
}

.imgBag{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imgBag img{
    height:350px;
    width:auto;
    margin:20px;
    border-radius:10px;
}


.bagInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.bagInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    align-items: center;

    
}

.bagInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#FF5733 ;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.bagInfo--addButton:hover {
    background-color:#FFBD33;
}

.bagInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}

.bagInfo--actualPrice {
    font-size:2rem;
}

.bagInfo--sector{
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
    
}



